/* .option {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.option:hover {
  border-color: blue;
}

.option.selected {
  border-color: blue;
}

.option.correct {
  border-color: green;
}

.option.incorrect {
  border-color: red;
} */

/* quiz.component.css */
/* .option {
  transition: border-color 0.3s;
} */
