
<!-- <div>
    <p>{{ currentQuestion.question }}</p>
    <ul>
      <li *ngFor="let option of currentQuestion.options">
        <button [ngClass]="{'correct': option === currentQuestion.answer && feedback, 'incorrect': option !== currentQuestion.answer && option === selectedOption && feedback}" (click)="selectOption(option)">{{ option }}</button>
      </li>
    </ul>
    <button (click)="submitAnswer()">Submit</button>
    <button (click)="nextQuestion()" *ngIf="feedback">Next</button>
    <p>{{ feedback }}</p>
  </div> -->
  
